<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Power Remote Control</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
    href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
  <link rel="stylesheet" href="style.css" media="screen" title="no title">
</head>

<body ng-app="Airofarm">
  <md-toolbar layout="row" layout-align="space-between none">
    <div class="md-toolbar-tools">
      <h2 layout="row">PRC</h2>
    </div>
  </md-toolbar>
  <div class="md-padding" layout-xs="column" layout="row" ng-controller="minerstatusController">
    <div layout="column"> 
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
              <md-button class="md-icon-button md-raised md-accent" ng-click="psuStatus()">
                  <md-tooltip md-direction="top">Check Status</md-tooltip>
                  <md-icon>network_check</md-icon>
                </md-button> Main Power
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="column">
        <md-card-actions layout="row" layout-align="end center">
          <md-card-icon-actions>
            <md-button class="md-icon-button">
              <md-icon class="on" ng-if="minerstatus.psu =='ON'">offline_bolt</md-icon>
              <md-icon class="off" ng-if="minerstatus.psu =='OFF'">offline_bolt</md-icon>
            </md-button>
          </md-card-icon-actions>
          <md-button class="md-raised md-success" ng-click="psuRUN()"  ng-if="!Emergency">
              <md-tooltip md-direction="top">Latest Status ON</md-tooltip>
            <md-icon>power_settings_new</md-icon> RUN
          </md-button>
          <md-button class="md-raised md-accent" ng-click="psuSTOP()"  ng-if="!Emergency">
              <md-tooltip md-direction="top">Latest Status OFF</md-tooltip>
            <md-icon>power_settings_new</md-icon> STOP
          </md-button>
          <md-button class="md-raised md-warn" ng-click="psuALLON()" ng-if="Emergency">
              <md-icon>offline_bolt</md-icon> ALL ON!
            </md-button>
            <md-button class="md-raised md-warn" ng-click="psuALLOFF()" ng-if="Emergency">
              <md-icon>offline_bolt</md-icon> ALL OFF!
            </md-button>
          <md-switch ng-model="Emergency"> Emergency </md-switch>
        </md-card-actions>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            <md-icon class="large">router</md-icon> Modem
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="column">
        <md-card-actions layout="row" layout-align="end center">
          <md-card-icon-actions>
            <md-button class="md-icon-button">
              <md-icon class="on" ng-if="minerstatus.modem =='ON'">offline_bolt</md-icon>
              <md-icon class="off" ng-if="minerstatus.modem =='OFF'">offline_bolt</md-icon>
            </md-button>
          </md-card-icon-actions>
          <md-button class="md-raised md-primary" ng-click="modemRESET()">
            <md-icon>cached</md-icon> RESET
          </md-button>
          <md-button class="md-secondary" ng-href="http://192.168.1.1" target="_blank">
            <md-icon>wifi</md-icon> Manage
          </md-button>
        </md-card-actions>
      </md-card-content>
    </md-card>
  </div>
  <div layout="column"> 
    <md-card class="equal">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            <md-icon class="large">videocam</md-icon> Camera
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="column">
        <md-card-actions layout="row" layout-align="end center">
          <md-card-icon-actions>
            <md-button class="md-icon-button">
              <md-icon class="on" ng-if="minerstatus.cam =='ON'">offline_bolt</md-icon>
              <md-icon class="off" ng-if="minerstatus.cam =='OFF'">offline_bolt</md-icon>
            </md-button>
          </md-card-icon-actions>
          <md-button class="md-raised md-primary" ng-click="camRESET()">
            <md-icon>cached</md-icon> RESET
          </md-button>
          <md-button class="md-raised md-accent" ng-click="camOFF()">
            <md-icon>power_settings_new</md-icon> OFF
          </md-button>
        </md-card-actions>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            <md-icon class="large">speaker_phone</md-icon> Temprature
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="row" layout-align="space-around start">
        <h2 class="md-title">IN: {{minerstatus.temp_in}} &#176</h2>
        <h2 class="md-title">OUT: {{minerstatus.temp_out}} &#176</h2>
      </md-card-content>
    </md-card>
    </div>
    <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">
              <md-icon class="large">access_time</md-icon> Schedule
            </span>
            <md-switch ng-model="Scheduleoff" ng-init="Scheduleoff = true" ng-click="scheduleEnableoff()"> Schedule Off </md-switch>
            <md-switch ng-model="Scheduleon" ng-init="Scheduleon = true" ng-click="scheduleEnableon()"> Schedule On </md-switch>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
         <md-input-container class="md-block" md-no-float flex ng-if="Scheduleoff">OFF Time : {{scheduletime.off_h}}:{{scheduletime.off_m}} PM</md-input-container>
         <md-input-container class="md-block" md-no-float flex ng-if="Scheduleon">ON Time : {{scheduletime.on_h}}:{{scheduletime.on_m}} PM</md-input-container>
        </md-card-content>
      </md-card>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            <md-icon class="large">settings</md-icon> Information
          </span>
          <h3 ng-controller="deviceController"> <md-icon>power_input</md-icon>R: {{rCount}} <md-icon>power_input</md-icon>S: {{sCount}} <md-icon>power_input</md-icon>T: {{tCount}}</h3>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-input-container class="md-block" md-no-float flex>
          <span>Arduino</span>
           {{espip}} 
          </md-input-container>
        <md-input-container class="md-block" md-no-float flex>
          <span>Devices</span>
          {{devip}} </md-input-container>
      </md-card-content>
    </md-card>
  </div>
  <md-divider></md-divider>
  <div class="md-padding" ng-controller="deviceController">
      <div class="isloading" ng-show="isLoading" layout="row" layout-align="center center">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
    <md-content layout-gt-sm="row">
      <md-input-container class="md-block" md-no-float flex>
        <label>Search</label>
        <input ng-model='searchText' type="text">
      </md-input-container>
      <md-input-container class="md-block" flex>
        <label>Name</label>
        <md-select name="name" ng-model="filterItem.name">
          <md-option value="Amir">Amir</md-option>
          <md-option value="Azmian">Azmian</md-option>
          <md-option value="Behzad">Behzad</md-option>
          <md-option value="Hamid">Hamid</md-option>
          <md-option value="Reza">Reza</md-option>
          <md-option value="Vahid">Vahid</md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block" flex>
        <label>Device Type</label>
        <md-select name="type" ng-model="filterItem.type">
          <md-option value="s9i">Antminer S9i</md-option>
          <md-option value="s9j">Antminer S9j</md-option>
          <md-option value="s11">Antminer S11</md-option>
          <md-option value="Avalon">Avalon 851</md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block" flex>
        <label>OS Type</label>
        <md-select name="os" ng-model="filterItem.os">
          <md-option value="A">Antminer</md-option>
          <md-option value="B">Braiins OS</md-option>
          <md-option value="B-sd">Braiins on SD</md-option>
          <md-option value="AV">Avalon OS</md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block" flex>
        <md-button class="md-raised md-primary" ng-click="clearFilter();"> Clear </md-button>
        <md-button class="md-raised md-accent" ng-click="relayStatus()">
          <md-icon>network_check</md-icon> Check Status
        </md-button>
      </md-input-container>
    </md-content>
    <md-grid-list md-cols-xs="2" md-cols-sm="3" md-cols-md="6" md-cols-gt-md="12" md-row-height-gt-md="1:1"
      md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
      <md-grid-tile class="{{per.name}}" ng-repeat="per in devicelist | filter:searchText | filter:customFilter"
        ng-click="relaySwitch($event, $index);">
        <span class="md-os">{{per.os}}</span>
        <span class="md-type">{{per.type}}</span>
        <h1>{{per.uid}}</h1><span> ᛫ {{per.relay}} ᛫ {{per.phase}}</span>
        <md-grid-tile-footer>
          <h3>
            <md-icon ng-class="relaystatus.relay_{{per.relay}}">offline_bolt</md-icon> {{per.name}}
          </h3>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
  <!-- App scripts -->
  <script src="script.js"></script>
</body>

</html>